<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/fb/Light_blue.png');}
        a {font-size: 35px}
    </style>
    
</head>

<body>
    <%-include('_header')%>
        <h1 class="mb-4">Blog World</h1>
        <a href="/new" class="btn btn-success">New Article</a>
        <!-- <a href="/allblogs" class="btn btn-success">ALL BLOG</a> -->
        <br><br>
        <% data.forEach(entry=>{%>
            <a href="/all/<%-entry.id%>"><%=entry.title%></a>
            <p><%=entry.content%></p>
            <p><%=entry.createdAt%></p><%})
            %>
            
    
       
        
        <%-include('_footer')%>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="js/scripts.js"></script>
</body>

</html>